body {
  text-align: center;
  font-family: Arial;
  background: #111;
  color: white;
}

button {
  padding: 20px 40px;
  font-size: 20px;
  background: orange;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
