body {
  font-family: Arial;
  background: #0d1117;
  color: white;
  text-align: center;
  padding: 20px;
}

.box {
  background: #161b22;
  padding: 15px;
  margin: 15px auto;
  width: 80%;
  border-radius: 10px;
}

button {
  padding: 15px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #00ff99;
  cursor: pointer;
}
