body {
  margin: 0;
  padding: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1e293b;
  padding: 12px;
  border-radius: 12px;
  margin: 15px;  
}
