body {
  margin: 0;
  background: #0d1025;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}
//
.balance-box {
  text-align: right;
}

.wallet-btn {
  margin-top: 6px;
  background: transparent;
  border: none;
  padding: 2px;
  cursor: pointer;
}

.wallet-btn img {
  width: 12px;
  height: 12px;
}

.wallet-btn:active {
  transform: scale(0.9);
}
//

/* TOP BAR */
.top {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #15193c;
}

.label {
  font-size: 12px;
  color: #aaa;
}

.value {
  font-size: 16px;
  font-weight: bold;
}

/* CENTER IMAGE */
.center {
  margin: 40px 0;
}

.center img {
  width: 290px;
  height: 290px;
}

/* ROTATION */
.rotate {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* BOTTOM */
.bottom {
  padding: 10px;
}

.card {
  background: #1b1f45;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 15px;
}

button {
  background: #4caf50;
  border: none;
  border-radius: 12px;
  padding: 15px 25px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

button:active {
  transform: scale(0.96);
}
